.App {
  text-align: center;
  padding-top: 15px;
  margin-right: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  background-color: grey;
  padding: 5px;
}

.AppName {
  text-align: center;
  font-size: large;
  padding: 0px;
  font-weight: bold;
}

.EmployeeName {
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
}
.Language {
  text-align: right;
  margin-right: 5px;
  padding-top: 0px;
  font-size: large;
  font-weight: bold;
}

.wrapper .sidebar{
  background: rgb(68, 84, 106);
  position: fixed;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
}

.SideText {
  margin-left: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.Create {
  color: yellow;
}

.Information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Information input {
  font-size: large;
  padding-left: 10px;
}

.RowDiv {
  display: flex;
  flex-direction: row;
}